/.github
/.idea
/build
/changelog
/config
/doc
/examples
/site
/sponsor-logos
/src
/tasks
/test
/.editorconfig
/.eslintignore
/.nvmrc
/CODE_OF_CONTACT.md
/CONTRIBUTING.md
/DEVELOPING.md
/package-lock.json
/tsconfig.json
/*.tgz
